:root {
  --color-background: #000000;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

html,
body {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background: var(--color-background);
}

#root {
  width: 100%;
  height: 100%;
}

.letterbox::before,
.letterbox::after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  height: 18%;
  z-index: 10;
  pointer-events: none;
}

.letterbox::before {
  top: 0;
  background: linear-gradient(to bottom, var(--color-background) 0%, transparent 100%);
}
.letterbox::after {
  bottom: 0;
  background: linear-gradient(to top, var(--color-background) 0%, transparent 100%);
}
